@import "./utils/variables";
@import "./utils/mixins";

@import "./vendors/adminlte.css";
@import "./vendors/adminlte-skin.css";
@import "./vendors/bootstrap-datetimepicker.min.css";

@import "./foundations/_inc";
@import "./widgets/_inc";
@import "./modals/_inc";
@import "./views/_inc";