html, body {
	margin: 0;
	padding: 0;
	-webkit-text-size-adjust: none;
	font-size: $font-size-html;
}

body {
	font-family: $font-family;
	margin: auto;
	color: $color-black;
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	-ms-font-smoothing: antialiased;
	-o-font-smoothing: antialiased;
	font-smoothing: antialiased;
	-webkit-overflow-scrolling: touch;
	width: 100%;
	font-size: $font-size-base;
	line-height: 1.6;
}