/******************************** Overrides **********************************/
.skin-red-light .sidebar-menu > li:hover > a {
	border-left-color: transparent;
}

.skin-red-light .sidebar-menu > li.active:hover > a {
	border-left-color: #dd4b39;
}

.treeview-menu .fa-circle-o {
	display: none;
}

.sidebar-menu .treeview-menu > li > a {
	padding: 10px 10px 10px 15px;
}

.main-header .sidebar-toggle {
	padding: 12px 15px;
}

.box,
.box.box-default {
	border-top: 3px solid #00c0ef;
	padding: 12px;
	min-height: 360px;
}

.btn {
	padding: 6px 18px;
}

.btn-primary.longer {
	padding: 6px 24px;
}

.box-footer {
	border-top: 0px;
}

.box-form-split {
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
}

.content-body {
	min-height: 250px;
	padding: 15px;
	margin-right: auto;
	margin-left: auto;
	padding-left: 15px;
	padding-right: 15px;
}

.table {
	margin-bottom: 0;
	table-layout: auto !important;
	th {
		background-color: transparent !important;
		border-bottom: 1px solid #eee !important;
	}
	td {
		border-bottom: 1px solid #eee !important;
	}
}
.table>tbody+tbody {
	border-top: 0 !important;
}
.griddle-body {
	.footer-container {
		background-color: #fff !important;
		border-top: 1px solid #eee !important;
	}
}
.griddle-container {
	border: 1px solid #eee !important;
	border-bottom: 0 !important;
}
.standard-row {
	td {
		background-color: transparent !important;
		padding: 12px 4px !important;
	}
}

.box-header > .box-tools {
	position: relative;
	right: 0;
	top: 0;
	.fa {
		font-size: 1.25rem;
		cursor: pointer;
	}
	.wrap {
		border-radius: 3px;
		position: relative;
		min-width: 40px;
		text-align: center;
		border: 1px solid #eee;
		background-color: #f4f4f4;
		color: #333;
		font-size: 1rem;
		padding: 6px 12px;
		margin-right: 12px;
	}
	.danger {
		color: #dd4b39;
	}
	.primary {
		color: #3c8dbc;
	}
	.info {
		color: #00c0ef;
	}
	.warning {
		color: #f39c12;
	}
	.success {
		color: #00a65a;
	}
}

.modal-dialog {
	display: inline-block;
	text-align: left;
	vertical-align: middle;
}

.modal {
	background: rgba(0, 0, 0, 0);
}

@media screen and (min-width: 768px) {
	.modal:before {
		display: inline-block;
		vertical-align: middle;
		content: " ";
		height: 100%;
	}
}

@media (min-width: 768px) {
	.search-modal {
		.modal-dialog {
			width: 400px;
		}
	}
}

.nav-pills {
	li a {
		padding: 2px 12px
		border-top: 0
	}
}