.error-msg {
	font-size: 0.8rem;
	color: #CC3333;
}

.text-success {
	color: #00a65a;
}
.text-warning {
	color: #f39c12;
}
.text-info {
	color: #00c0ef;
}
.text-danger {
	color: #dd4b39;
}
.text-primary {
	color: #3c8dbc;
}