// font family
$font-family = "-apple-system",BlinkMacSystemFont,Roboto,"Helvetica Neue",Helvetica,Arial,"PingFang SC","Hiragino Sans GB","Source Han Sans","Noto Sans CJK Sc","Microsoft YaHei",sans-serif;

// font size
$font-size-html           = 62.5%;
$font-size-base			  = 1.6rem;

// color
$color-black               = #394555;
$color-black-light         = #5b6575;
$color-black-lighter       = #8c96a6;
$color-blue                = #2c9fff;
$color-red                 = #ff0003;
$color-green               = #0ccc9e;
$color-gray                = #666;
$color-gray-light          = #999;
$color-yellow              = #CC9900;

$color-primary			   = $color-blue; // base purecss

$color-border              = #f1f1f1;
$color-bg            = #ecf3f6;
$color-bg-light      = #fbfcfc;

// font-weight
$font-weight-normal        = 400;
$font-weight-bolder        = 700;
$font-weight-bold          = 600;
$font-weight-light         = 300;
$font-weight-lighter       = 200;
